<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/customer-header', { title: 'Menu' }) %>

  </head>
  
  <body class="bg-gray-100 min-h-screen">
  
    <!-- Navigation Bar -->
  <%- include('./partials/customer-nav') %>

  <!-- Flash Messages -->
<div class="fixed top-0 left-0 w-full z-50">
  <%- include('../partials/alert') %>
</div>

<!-- Category Heading -->
<div class="flex justify-between items-center  p-2 mt-3 bg-white rounded-xl shadow-md">
        <h1 class="text-2xl font-bold">Categories</h1>
</div>

<!-- display all food category wise-->

<!-- Items List -->
<div class="category m-2 mt-1 p-4">
  <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-4">
    <% categories.forEach(category => { %>
      <div class="bg-white rounded-xl shadow p-3 flex flex-col justify-between">
        <img src="/images/categories/<%= category.toLowerCase() %>.jpg" alt="<%= category %> Image" class="rounded-xl w-full h-32 object-cover mb-3" />

        <div class="flex justify-center mt-auto">
         <a href="/api/customer/category/<%= category.toLowerCase() %>" class="text-black py-1 px-3 rounded text-lg underline font-bold">
           <%= category %>
         </a>

        </div>
      </div>
    <% }) %>
  </div>
</div>


<%- include('./partials/customer-footer') %>